<!DOCTYPE HTML>
<!--
	Miniport 2.0 by HTML5 UP
	html5up.net | @n33co
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>Miniport by HTML5 UP</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<link href="http://fonts.googleapis.com/css?family=Open+Sans:300,600,700" rel="stylesheet" />
		<script src="{{ asset('bundles/user/login/js/jquery.min.js') }}"></script>
		<script src="{{ asset('bundles/user/login/js/config.js') }}"></script>
		<script src="{{ asset('bundles/user/login/js/skel.min.js') }}"></script>
		<noscript>
			<link rel="stylesheet" href="{{ asset('bundles/user/login/css/skel-noscript.css') }}" />
			<link rel="stylesheet" href="{{ asset('bundles/user/login/css/style.css') }}" />
			<link rel="stylesheet" href="{{ asset('bundles/user/login/css/style-desktop.css') }}" />
		</noscript>
		<!--[if lte IE 9]><link rel="stylesheet" href="{{ asset('bundles/user/login/css/ie9.css') }}" /><![endif]-->
		<!--[if lte IE 8]><script src="{{ asset('bundles/user/login/js/html5shiv.js') }}"></script><link rel="stylesheet" href="{{ asset('bundles/user/login/css/ie8.css') }}" /><![endif]-->
		<!--[if lte IE 7]><link rel="stylesheet" href="{{ asset('bundles/user/login/css/ie7.css') }}" /><![endif]-->
	</head>
	<body>

		<!-- Nav -->
			<nav id="nav">
				<ul>
					<li><a href="/web/">Inicio</a></li>
					<li><a href="/web/newticket">Crear ticket</a></li>
					<li><a href="/web/tickets">Consultar ticket(s)</a></li>
				</ul>
			</nav>

		{% block content %}{% endblock %}

	</body>
</html>